In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geoplot.crs as gcrs
import geoplot as gplt
%matplotlib inline

In [45]:
dfl = pd.read_csv('~/Desktop/listings (1).csv')
dfc= pd.read_csv('~/Assel_Badar-CAPSTONE2/DATA/calendar (1).csv.gz')
dfgn=pd.read_csv('~/Assel_Badar-CAPSTONE2/DATA/neighbourhoods (1).csv')
dfr=pd.read_csv('~/Assel_Badar-CAPSTONE2/DATA/reviews (1).csv')
geo=pd.read_csv('~/Assel_Badar-CAPSTONE2/DATA/neighbourhoods.geojson')

In [65]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Columns: 26543 entries, {"type":"FeatureCollection" to neighbourhood_group:null}}]}
dtypes: object(26543)
memory usage: 0.0+ bytes

In [46]:
dfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3281 entries, 0 to 3280
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3281 non-null   int64
 1   name                            3281 non-null   object
 2   host_id                         3281 non-null   int64
 3   host_name                       3178 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   3281 non-null   object
 6   latitude                        3281 non-null   float64
 7   longitude                       3281 non-null   float64
 8   room_type                       3281 non-null   object
 9   price                           3281 non-null   int64
 10  minimum_nights                  3281 non-null   int64
 11  number_of_reviews               3281 non-null   int64
 12  last_review                     2678 non-null   object
 13  reviews_per_month               2678 non-null   float64
 14  calculated_host_listings_count  3281 non-null   int64
 15  availability_365                3281 non-null   int64
dtypes: float64(4), int64(7), object(5)
memory usage: 410.2+ KB

In [63]:
# dfl.drop(columns=['host_name'],inplace=True)
dfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3281 entries, 0 to 3280
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3281 non-null   int64
 1   name                            3281 non-null   object
 2   host_id                         3281 non-null   int64
 3   neighbourhood                   3281 non-null   object
 4   latitude                        3281 non-null   float64
 5   longitude                       3281 non-null   float64
 6   room_type                       3281 non-null   object
 7   price                           3281 non-null   int64
 8   minimum_nights                  3281 non-null   int64
 9   number_of_reviews               3281 non-null   int64
 10  last_review                     2678 non-null   object
 11  reviews_per_month               2678 non-null   float64
 12  calculated_host_listings_count  3281 non-null   int64
 13  availability_365                3281 non-null   int64
dtypes: float64(3), int64(7), object(4)
memory usage: 359.0+ KB

In [47]:
grouped = dfl.groupby('room_type')
grouped.groups

{'Entire home/apt': Int64Index([   1,    2,    5,    6,    7,    8,    9,   10,   13,   14,
             ...
             3265, 3266, 3267, 3268, 3269, 3270, 3272, 3275, 3276, 3280],
            dtype='int64', length=1991),
 'Hotel room': Int64Index([1646], dtype='int64'),
 'Private room': Int64Index([   0,    3,    4,   11,   12,   23,   24,   26,   28,   42,
             ...
             3251, 3256, 3261, 3262, 3271, 3273, 3274, 3277, 3278, 3279],
            dtype='int64', length=1139),
 'Shared room': Int64Index([ 118,  197,  330,  455,  483,  530,  747,  907,  926, 1019,
             ...
             3145, 3146, 3147, 3148, 3149, 3152, 3153, 3156, 3192, 3200],
            dtype='int64', length=150)}

In [48]:
dfl.sort_values(by='price', ascending=True).head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1592,21152974,"23 Min to SF, Blocks to BART, Private Room! (B4P)",14767694,Joe,NaN,Hoover-Foster,37.82263,-122.27603,Private room,0,1,122,2020-03-18,3.82,6,90
1469,19571162,Backyard Camping,3518,Traci,NaN,Prescott,37.80879,-122.29458,Private room,10,3,6,2018-08-11,0.18,8,45
1324,17793909,"Comfort Budget ""F"" Great Area 20 minutes to SF $1",35967118,Peggy,NaN,Grand Lake,37.81304,-122.24879,Shared room,15,1,39,2018-09-24,1.01,14,90
1502,19968907,"Comfort Budget ""G"" Great Neighborhood",35967118,Peggy,NaN,Grand Lake,37.81418,-122.24900,Shared room,15,1,34,2019-10-01,0.99,14,365
1308,17607684,"Comfort Budget ""E"" Great Neighborhood",35967118,Peggy,NaN,Grand Lake,37.81677,-122.24874,Shared room,19,1,35,2018-10-08,0.90,14,90
2758,38386300,Cabin Sleeping Room Private A+,30474731,Maestro.,NaN,Gaskill,37.83750,-122.27738,Private room,19,1,14,2020-04-06,1.65,4,352
1215,16556637,"Comfort Budget ""C"" Great Neighborhood",35967118,Peggy,NaN,Grand Lake,37.81416,-122.24785,Shared room,19,1,72,2020-01-05,1.75,14,90
1226,16599308,"Comfort Budget ""D"" Great Neighborhood",35967118,Peggy,NaN,Grand Lake,37.81287,-122.24882,Shared room,19,1,76,2020-05-06,1.86,14,90
1693,21923470,Charming Private Lakeside Flat,20094703,Nicole,NaN,Cleveland Heights,37.80141,-122.25014,Entire home/apt,20,2,5,2019-10-11,0.30,1,0
1510,20075153,"Comfort Budget ""H"" Great Neighborhood",35967118,Peggy,NaN,Grand Lake,37.81560,-122.24857,Shared room,20,14,42,2020-02-13,1.24,14,90

In [49]:
dfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3281 entries, 0 to 3280
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3281 non-null   int64
 1   name                            3281 non-null   object
 2   host_id                         3281 non-null   int64
 3   host_name                       3178 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   3281 non-null   object
 6   latitude                        3281 non-null   float64
 7   longitude                       3281 non-null   float64
 8   room_type                       3281 non-null   object
 9   price                           3281 non-null   int64
 10  minimum_nights                  3281 non-null   int64
 11  number_of_reviews               3281 non-null   int64
 12  last_review                     2678 non-null   object
 13  reviews_per_month               2678 non-null   float64
 14  calculated_host_listings_count  3281 non-null   int64
 15  availability_365                3281 non-null   int64
dtypes: float64(4), int64(7), object(5)
memory usage: 410.2+ KB

In [50]:
listings_geo=pd.DataFrame(dfl.groupby(['neighbourhood']).id.count()).reset_index()

In [51]:
price_geo=pd.DataFrame(dfl.groupby(['neighbourhood']).price.mean()).reset_index()

In [52]:
dfgn=dfgn.merge(listings_geo, on='neighbourhood')
dfgn=dfgn.merge(price_geo, on='neighbourhood')

In [53]:
dfgn.head(2)

   neighbourhood_group           neighbourhood  id       price
0                  NaN  Acorn-Acorn Industrial   6   79.833333
1                  NaN             Adams Point  75  116.613333

In [54]:
dfgn.drop(columns=['neighbourhood_group'],inplace=True)

In [38]:
dfgn.head(2)

            neighbourhood  id       price
0  Acorn-Acorn Industrial   6   79.833333
1             Adams Point  75  116.613333

In [64]:
# gplt.choropleth(dfgn, hue=dfgn['id'], projection=gcrs.PlateCarree(),
#                 cmap='Blues', linewidth=0.5, edgecolor='white', k=None, legend=True, figsize=(10, 10))
# plt.title("Listings per Neighbourhood, Airbnb Sydney", fontsize=20, pad=60)
# plt.savefig("airbnb_listings_suburb.png", bbox_inches='tight', pad_inches=0.1)

In [41]:
geo.head()

Empty DataFrame
Columns: [{"type":"FeatureCollection", features:[{"type":"Feature", geometry:{"type":"MultiPolygon", coordinates:[[[[-122.34266, 37.805782], [-122.342648, 37.805803], [-122.341682, 37.806318], [-122.339798, 37.807352], [-122.338849, 37.807823], [-122.337284, 37.808671], [-122.336709, 37.809036], [-122.336564, 37.809115], [-122.336543, 37.809122], [-122.336522, 37.809129], [-122.336504, 37.809125], [-122.336491, 37.809123], [-122.336479, 37.80912], [-122.336349, 37.808964], [-122.336323, 37.808955], [-122.33627, 37.80896], [-122.336116, 37.809047], [-122.3356, 37.809397], [-122.335316, 37.80956], [-122.334564, 37.809991], [-122.333586, 37.810505], [-122.331708, 37.810284], [-122.327851, 37.810268], [-122.325588, 37.810005], [-122.325255, 37.809987], [-122.322691, 37.80985], [-122.322426, 37.809787], [-122.321802, 37.809716], [-122.320881, 37.809582], [-122.319657, 37.809278], [-122.318549, 37.809137], [-122.318212, 37.809109], [-122.316617, 37.808954], [-122.31594, 37.808881], [-122.315087, 37.808807], [-122.313452, 37.808673], [-122.312292, 37.808609], [-122.312098, 37.808615], [-122.311955, 37.808689], [-122.311431, 37.80879], [-122.311222, 37.808837], [-122.311014, 37.80887], [-122.310859, 37.808878], [-122.310695, 37.808867], [-122.31049, 37.808837].1, [-122.309753, 37.808674], [-122.308899, 37.808497], [-122.309556, 37.807422], [-122.30434, ...]
Index: []

[0 rows x 26543 columns]

In [ ]:
geo.melt